.product {
    text-align: center;
}

.product img{
    width:100%;
    object-fit: cover;
}

.product:nth-child(1){
    padding-top: 0;
}
.product__title{
    font-size:3rem;
}
.product__info{
    left:0;
    right:0;
    text-align:justify;
}
.product__info p {
    line-height:1.3;
    color:var(--text-color)
}
.product__header-center{
    line-height: 1.2;
}