

.registration{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    padding:8px;
}
.product__title {
    text-align: center;
    font-size:3rem;

}
.icon-lh{
    font-size:1.6rem;
    padding:8px;
    background-color:#cddc39;
    color: var(--white-color);
}
span,
input{
    font-size:1.6rem;
}
p{
    font-size:1.6rem;
}