
.registration{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.email-input,
.password-input,
.password-repeat,
.rank-input,
.avatar-input,
.info-input{
    width:30%;
    display: flex;
    justify-content:space-between;
    margin:4px 0;
}
.email-input label,
.password-input label,
.password-repeat label,
.rank-input label,
.avatar-input label,
.info-input label{
    width:20%;
    flex: center;
}
.email-input input,
.password-input input,
.password-repeat input,
.rank-input input,
.avatar-input input,
.info-input input{
    width:80%;
    flex: 1;
}
.product__title {
    text-align: center;
    font-size:3rem;

}
.icon-lh{
    font-size:1.6rem;
    padding:8px;
    background-color:#cddc39;
    color: var(--white-color);
    width:80%;
    text-align:center;
}
span,
input{
    font-size:1.6rem;
}
p{
    font-size:1.6rem;
}
.submit-input{
    display: flex;
}
.submit-input input {
    flex: start;
    display: block;
    width:80px;
    height:40px;
    margin:0 8px;
    color: #fff;
    background-color: #20E3B2;
    border:none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}

.check-email,
.check-password{
    color: #FF6651;
    flex: start;
    text-align:end;
    margin-left:40px;
    display:none;
    transition: all 0.25s linear;
}
.input.invalid + .input-icons .fa-times,
.input.valid + .input-icons .fa-check {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
.check-email.active,
.check-password.active{
    display: block;
}
.email-input,
.password-input{
    position: relative;
}
.input-icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
   

  }
  .input-icons i {
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: all 0.2s ease;
    position: absolute;
  }
  .fa-check {
    background-color: #20e3b2;
  }
  .fa-times {
    background-color: #fc5776;
    
  }