

.address{
    display: flex;
    text-align: center;
    align-items: center;
}
.address__img img {
    object-fit:contain;
    width:15px;
    text-align: center;
    margin:auto;
}
.address__img{
    background-color: #cddc39;
    display: flex;
    width: 40px;
    height: 30px;
}
.address  p {
    margin-left:4px;
    font-size:1.6rem;
}
.product{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-lh{
    font-size:1.6rem;
    padding:8px;
    background-color:#cddc39;
    color: var(--white-color);
}
select,
input{
    padding: 5px;
    font-size:1.6rem;

}
#textarea{
    padding:10px;
}
.submit{
    position: relative;
    left:35%;
}
.email-input,
.password-input,
.password-repeat,
.rank-input,
.avatar-input,
.info-input {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin: 4px 0;
}

.email-input label,
.password-input label,
.password-repeat label,
.rank-input label,
.avatar-input label,
.info-input label {
    width: 20%;
    flex: center;
}

.email-input input,
.password-input input,
.password-repeat input,
.rank-input input,
.avatar-input input,
select
.info-input input {
    width: 80%;
    flex: 1;
}
.check-email,
.check-password {
    color: #FF6651;
    flex: start;
    text-align: end;
    margin-left: 40px;
    display: none;
    transition: all 0.25s linear;
}

.email.invalid+.input-icons .fa-times,
.email.valid+.input-icons .fa-check {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.password.invalid+.input-icons .fa-times,
.password.valid+.input-icons .fa-check {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.password-repeat-c.invalid+.input-icons .fa-times,
.password-repeat-c.valid+.input-icons .fa-check {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.password-repeat,
.email-input,
.password-input {
    position: relative;
}

.input-icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.input-icons i {
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: all 0.2s ease;
    position: absolute;
}

.fa-check {
    background-color: #20e3b2;
}

.fa-times {
    background-color: #fc5776;

}